<nz-header 
class="headerLayout  flex items-center justify-between transition-all duration-200 ease-linear"
[ngClass]="{
   'min-h-[96px]':appLayout == 'horizontal',
   'min-h-[64px] !px-3 rounded-[.375rem] shadow-sm shadow-[#22303e14]':appLayout == 'vertical',
    ' border-b-neutral-700':theme.currentTheme == 'dark'
      }"
    >
    <div class="logo flex items-center justify-center space-x-5">
        <ng-content></ng-content>

        @if(appLayout ==  'horizontal'){
          <img
          src="logo.png"
          [ngClass]="{
            'h-24':appLayout == 'horizontal'
          }"
      />
        }
        <!-- [ngClass]="{
          '!bg-gray-100':theme.currentTheme == 'default'
         }" -->
         <div class="hidden md:block">

        <nz-input-group [nzSuffix]="suffixIconSearch" class="!w-72 !border-none !bg-transparent !outline-none focus:!shadow-none"
           
        >
          <input type="text" [nzBorderless]="true" nz-input placeholder="Search by name or MRN (ctrl+/)" class="!text-xs !bg-transparent"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
    </div>
    <div class="flex items-center">
        <ul class="border-none" class="space-x-1 flex items-center m-0">
          <li class="hidden md:inline-block">
            <lib-NgButton
            [shape]="'circle'"
            [nzType]="'text'"
            [className]="'iconBtn'"
            > <span nz-icon nzType="global" nzTheme="outline" style="font-size: 18px;font-weight: bold;"></span>
            </lib-NgButton>
          </li>
          <li class="inline-block">
            <lib-NgButton
            [shape]="'circle'"
            (onPress)="toggleTheme(theme.currentTheme == 'dark' ? 'default' : 'dark')"
            [className]="'iconBtn'"
            [nzType]="'text'"
            > <span nz-icon nzType="{{theme.currentTheme == 'dark' ? 'sun' : 'moon'}}" nzTheme="fill" style="font-size: 18px;"></span>
            </lib-NgButton>
         </li>
           
            <li class="hidden md:inline-block">
              <lib-NgButton
              [shape]="'circle'"
              [nzType]="'text'"
              [className]="'iconBtn'"
              > <span nz-icon nzType="product" nzTheme="outline" style="font-size: 18px;font-weight: bold;"></span>
              </lib-NgButton>
          </li>
          <li class="hidden md:inline-block">
            <lib-NgButton
            [shape]="'circle'"
            [nzType]="'text'"
            [className]="'iconBtn'"
            > <span nz-icon nzType="bell" nzTheme="outline" style="font-size: 18px;font-weight: bold;"></span>
            </lib-NgButton>
           </li>
          
            
            <li class="inline-block md:hidden">
              <lib-NgButton
              [shape]="'circle'"
              [nzType]="'text'"
              [className]="'iconBtn'"
              > <span nz-icon nzType="search" nzTheme="outline" style="font-size: 18px;font-weight: bold;"></span>
              </lib-NgButton>
             </li>
            <li class="hidden md:inline-block">
                        <lib-NgAvatar
                         [size]="'large'"
                         [text]="'SM'"
                         [src]="'userAvatar.png'"
                         [background-color]="'#f56a00'"
                        ></lib-NgAvatar>
            </li>
            <li class="inline-block md:hidden">
              <a nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'">
                <lib-NgAvatar
                [size]="'large'"
                [text]="'SM'"
                [src]="'userAvatar.png'"
                [background-color]="'#f56a00'"
               ></lib-NgAvatar>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu" >
                  <ul nz-menu nzSelectable>
         
                  <li nz-menu-item nzSelectable>
                    <span title class="text-xs"> <span nz-icon nzType="user" nzTheme="outline"></span><span class=" font-medium"> Account Settings</span></span> 
                  </li>
                  <li nz-menu-item nzSelectable>
                    <span title class="text-xs"> <span nz-icon nzType="bell" nzTheme="outline"></span><span class=" font-medium"> Notifications</span></span> 
                  </li>
                  <li nz-menu-item nzSelectable>
                    <span title class="text-xs"> <span nz-icon nzType="product" nzTheme="outline"></span><span class=" font-medium"> Products</span></span> 
                  </li>
                  <li nz-menu-item nzSelectable>
                    <span title class="text-xs"> <span nz-icon nzType="global" nzTheme="outline"></span><span class=" font-medium"> Language</span></span> 
                  </li> 
                  </ul>
                </nz-dropdown-menu>
             
          </li>
          </ul>    
    </div>
    </nz-header >