<div class="flex justify-between items-center flex-col md:flex-row space-y-3 md:space-y-0">
    <div>
        <p class="text-xl md:text-2xl m-0">
            Welcome Back, Suman Mitra 👋
        </p>
        <span class="text-xs">
            there is the latest update for the last 7 days. Check Now
        </span>
    </div>
    <div class="flex items-center justify-center space-x-4">
        <nz-select [ngModel]="'W'">
            <nz-option nzValue="M" nzLabel="Last Month"></nz-option>
            <nz-option nzValue="W" nzLabel="Last Week"></nz-option>
            <nz-option nzValue="T" nzLabel="Today"></nz-option>
        </nz-select>
        <lib-NgButton [title]="'Export'" [nzType]="'primary'" [className]="'iconBtn'"> <span
                class="trigger !text-white !text-lg" nz-icon [nzType]="'download'" nzTheme="outline"></span>
        </lib-NgButton>
    </div>
</div>
<div nz-row [nzGutter]="[16, 16]" class="!my-2">
    <div nz-col class="gutter-row " 
     [nzXs]="{span: 24}"   
     [nzSm]="{span: 12}"   
     [nzMd]="{span: 12}"   
     [nzLg]="{span: 6}" >
        <div class="inner-box bg-[#308b80] h-full w-full p-5 rounded-md  space-y-4 shadow-lg bg-cover bg-no-repeat"
            style="background-image: linear-gradient(267deg, rgb(115 217 226 / 55%), rgb(3 102 139)),url(dashboardTilesIcon.png);">

            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <div class="h-8 w-8  bg-[#3d978c40] rounded-md flex items-center justify-center">

                        <span nz-icon nzType="line-chart" nzTheme="outline" class="!text-white"></span>
                    </div>
                    <span class="!text-white">
                        Overall Visitors
                    </span>
                </div>
                <lib-NgButton [nzType]="'text'" [shape]="'circle'" [className]="'iconBtn'"> <span
                        class="trigger !text-white !text-2xl" nz-icon [nzType]="'ellipsis'" nzTheme="outline"></span>
                </lib-NgButton>

            </div>
            <div class="flex items-center justify-start">
                <div class="flex items-center space-x-3">
                    <h2 nz-typography class="!m-0">
                        10.525
                    </h2>
                    <div class="p-1 bg-[#d7f8e8]  px-3 rounded-full">
                        <p nz-typography class="!m-0 !text-xs !text-[#3d8b81]">
                            +15.2%
                        </p>
                    </div>
                </div>

            </div>

            <p class="text-[11px] text-white">
                Data Obtained for the last 7 days from 5.567 patients to 7,525 patients
            </p>
            <div>
                <nz-progress [nzPercent]="60" [nzStrokeColor]="'#2b7f75'" [nzShowInfo]="false" nzStrokeLinecap="round"
                    nzSize="small"></nz-progress>
                <p nz-typography class="!text-xs !text-white text-right">
                    1,345 today
                </p>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row"  [nzXs]="{span: 24}"   
     [nzSm]="{span: 12}"   
     [nzMd]="{span: 12}"   
     [nzLg]="{span: 6}" >
        <nz-card nzTitle="" [nzExtra]="" class="!h-full" [nzHoverable]="true">
            <div class="inner-box  w-full space-y-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-3">
                        <div class="h-8 w-8 border shadow-sm rounded-md flex items-center justify-center" [ngClass]="{
                            'border-neutral-700':theme.currentTheme == 'dark',

                        }">
                            <span nz-icon nzType="user" nzTheme="outline" class="!text-[#247b71]"></span>
                        </div>
                        <span>
                            Total Patients
                        </span>
                    </div>
                    <lib-NgButton [nzType]="'text'" [shape]="'circle'" [className]="'iconBtn'"> <span
                            class="trigger  !text-2xl" nz-icon [nzType]="'ellipsis'" nzTheme="outline"></span>
                    </lib-NgButton>

                </div>
                <div class="flex items-center justify-start">
                    <div class="flex items-center space-x-3">
                        <p nz-typography class="!m-0 text-[30px] font-semibold">
                            5.175
                        </p>
                        <div class="p-1 bg-[#d7f8e8] px-3 rounded-full">
                            <p nz-typography class="!m-0 !text-xs !text-[#3d8b81]">
                                +10.4%
                            </p>
                        </div>
                    </div>

                </div>
                
                   
                    <p class="text-[11px] m-0">
                        Increase in data by 500 inpatients in the last 7 days
                    </p>
                    <div>
                        <nz-progress [nzPercent]="60" [nzStrokeColor]="'#2b7f75'" [nzShowInfo]="false" nzStrokeLinecap="round"
                            nzSize="small"></nz-progress>
                        <p nz-typography class="!text-xs text-right">
                            1,345 today
                        </p>
                    </div>
    
                <div>

                </div>
            </div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row"  [nzXs]="{span: 24}"   
     [nzSm]="{span: 12}"   
     [nzMd]="{span: 12}"   
     [nzLg]="{span: 6}" >
        <nz-card nzTitle="" [nzExtra]="" class="!h-full" [nzHoverable]="true">
            <div class="inner-box  w-full space-y-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-3">
                        <div class="h-8 w-8  border shadow-sm rounded-md flex items-center justify-center" [ngClass]="{
                        'border-neutral-700':theme.currentTheme == 'dark'
                    }">
                            <img src="surgery.png" class="h-5" />
                        </div>
                        <span>
                            Surgery
                        </span>
                    </div>
                    <lib-NgButton [nzType]="'text'" [shape]="'circle'" [className]="'iconBtn'"> <span
                            class="trigger  !text-2xl" nz-icon [nzType]="'ellipsis'" nzTheme="outline"></span>
                    </lib-NgButton>

                </div>
                <div class="flex items-center justify-start">
                    <div class="flex items-center space-x-3">
                        <p nz-typography class="!m-0 text-[30px] font-semibold">
                            523
                        </p>
                        <div class="p-1 bg-[#d7f8e8] px-3 rounded-full">
                            <p nz-typography class="!m-0 !text-xs !text-[#3d8b81]">
                                +165
                            </p>
                        </div>
                    </div>

                </div>

                <p class="text-[11px]">
                    Visitor data obtained for the last 7 days from 10.2% to 15.7%
                </p>
                <div>
                    <nz-progress [nzPercent]="30" [nzShowInfo]="false" [nzStrokeColor]="'#2b7f75'"
                        nzStrokeLinecap="round" nzSize="small" class="antDProgressBarSugery"></nz-progress>
                    <p nz-typography class="!text-xs  text-right">
                        1,345 today
                    </p>
                </div>
            </div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row"  [nzXs]="{span: 24}"   
     [nzSm]="{span: 12}"   
     [nzMd]="{span: 12}"   
     [nzLg]="{span: 6}" >

        <nz-card nzTitle="" [nzExtra]="" class="!h-full" [nzHoverable]="true">
            <div class="inner-box  w-full space-y-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-3">
                        <div class="h-8 w-8  border shadow-sm rounded-md flex items-center justify-center"
                            [ngClass]="{'border-neutral-700':theme.currentTheme == 'dark'}">
                            <img src="overallRoom.png" class="h-5" />
                        </div>
                        <span>
                            Overall Rooms
                        </span>
                    </div>
                    <lib-NgButton [nzType]="'text'" [shape]="'circle'" [className]="'iconBtn'"> <span
                            class="trigger  !text-2xl" nz-icon [nzType]="'ellipsis'" nzTheme="outline"></span>
                    </lib-NgButton>

                </div>
                <div class="flex items-center justify-start">
                    <div class="flex items-center space-x-3">
                        <p nz-typography class="!m-0 text-[30px] font-semibold">
                            221
                        </p>
                        <div class="p-1 bg-[#d7f8e8] px-3 rounded-full">
                            <p nz-typography class="!m-0 !text-xs !text-[#3d8b81]">
                                +165
                            </p>
                        </div>
                    </div>

                </div>

                <ul>
                    <li class="flex items-center justify-between py-1">
                        <div class="flex items-center">
                            <div class="h-6 w-6 rounded-full bg-[#54a6ff] flex items-center justify-center">
                                <img src="room.png" class="h-5" />
                            </div>
                            <p nz-typography class="!m-0 text-xs !mx-3">
                                General Room
                            </p>
                        </div>
                        <p nz-typography class="!m-0 text-xs">
                            110
                        </p>
                    </li>
                    <nz-divider></nz-divider>
                    <li class="flex items-center justify-between py-1">
                        <div class="flex items-center">
                            <div class="h-6 w-6 rounded-full bg-[#21aea8] flex items-center justify-center">
                                <img src="room.png" class="h-5" />
                            </div>
                            <p nz-typography class="!m-0 text-xs !mx-3">
                                Private Room
                            </p>
                        </div>
                        <p nz-typography class="!m-0 text-xs">
                            111
                        </p>
                    </li>
                </ul>
            </div>
        </nz-card>

    </div>
</div>

<div nz-row [nzGutter]="[20,16]">
    <div nz-col class="gutter-row"
    [nzXs]="{span: 24}"   
     [nzSm]="{span: 24}"   
     [nzMd]="{span: 24}"   
     [nzLg]="{span: 13}" 
    >
        <nz-card [nzSize]="'small'" class="!h-full !w-full" [nzTitle]="chartTitle" [nzExtra]="tab" >
            <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                    [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                    [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"
                    [grid]="chartOptions.grid"></apx-chart>
            </div>
        </nz-card>
        <ng-template #chartTitle>

            <div class="flex items-center !space-x-1">
                <div class="h-8 w-8  flex items-center justify-center">
                    <img src="statistics.png" class="h-7" alt="statistics" />
                </div>
                <p nz-typography class="!m-0 !text-xs ">
                    Patient Statistics
                </p>
            </div>
        </ng-template>
        <ng-template #tab>
            <nz-segmented [nzOptions]="options" [(ngModel)]="selectedIndex" [nzSize]="'default'"></nz-segmented>
        </ng-template>

    </div>
    <div nz-col class="gutter-row "   
    [nzXs]="{span: 24}"   
    [nzSm]="{span: 24}"   
    [nzMd]="{span: 24}"   
    [nzLg]="{span: 11}">
        <nz-card [nzSize]="'default'" [nzTitle]="calendar_title" [nzExtra]="calendar_extra" class="!h-full">

            <div nz-row [nzGutter]="[20,20]" class="!space-y-6 !h-full">
                <div nz-col 
                [nzXs]="{span: 24}"   
                [nzSm]="{span: 24}"   
                [nzMd]="{span: 24}"   
                [nzLg]="{span: 14}"
                >
                    <nz-date-picker [nzShowToday]="false" [nzBorderless]="true" [nzSize]="'large'" nzInline
                        [(ngModel)]="date"></nz-date-picker>
                </div>
                <div nz-col class="gutter-row !p-3"  [nzXs]="{span: 24}"   
                [nzSm]="{span: 24}"   
                [nzMd]="{span: 24}"   
                [nzLg]="{span: 10}">
                    <div class="flex flex-col justify-between h-full items-start space-y-3 md:space-y-0">
                        <div class="space-y-6 w-full">
                            <nz-list nzBordered nzHeader="Activity Details" [nzFooter]="Footer" >
                                <nz-list-item>
                                    <nz-badge nzColor="#9bd222" [nzText]="event"></nz-badge>
                                    <ng-template #event>
                                        <span nz-typography class="!text-[11px]">
                                            DR. Rick Appointment
                                        </span>
                                    </ng-template>

                                </nz-list-item>
                                <nz-list-item>
                                    <nz-badge nzColor="#53a5ff" [nzText]="event_meetup"></nz-badge>
                                    <ng-template #event_meetup>
                                        <span nz-typography class="!text-[11px]">
                                            Dentist Meetup
                                        </span>
                                    </ng-template>
                                </nz-list-item>
                                <nz-list-item>
                                    <nz-badge nzColor="#ffd159" [nzText]="event_surgery"></nz-badge>
                                    <ng-template #event_surgery>
                                        <span nz-typography class="!text-[11px]">
                                            Jhon Surgery
                                        </span>
                                    </ng-template>
                                </nz-list-item>
                            </nz-list>
                            <ng-template #Footer>
                                <lib-NgButton [title]="'Add New'" [nzType]="'default'" [className]="'iconBtn !w-full !rounded-none'">
                                    <span class="trigger !text-md" nz-icon [nzType]="'plus'" nzTheme="outline"></span>
                                </lib-NgButton>
                            </ng-template>
                        </div>
                     
                    </div>

                </div>
                <div nz-col [nzSpan]="24" class="!mb-1 !mt-2">
                        <p nz-typography class="!text-xs !text-center">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ullam rerum, repellendus ipsa velit quaerat delectus nobis reprehenderit laboriosam voluptatem et, sint maiores iste, eligendi voluptatibus? Tenetur qui quod fugit debitis eum?
                        </p>
                </div>
            </div>

        </nz-card>

        <ng-template #calendar_title>
            <div class="flex space-x-2 items-center">
                <!-- <div class="h-8 w-8  border rounded-md flex items-center justify-center"> -->
                <span nz-icon nzType="calendar" nzTheme="fill" class="!text-[#21aea8]"></span>
                <!-- </div> -->
                <p nz-typography class="!text-xs !m-0 !mx-2">
                    Calendar
                </p>
            </div>
        </ng-template>
        <ng-template #calendar_extra>
            <div class="hidden md:flex items-center space-x-3">
                <nz-badge nzColor="#9bd222" [nzText]="Appointment"></nz-badge>
                <ng-template #Appointment>
                    <span nz-typography class="!text-[10px]">
                        Appointment
                    </span>
                </ng-template>
                <nz-badge nzColor="#53a5ff" [nzText]="Meeting"></nz-badge>
                <ng-template #Meeting>
                    <span nz-typography class="!text-[10px]">
                        Meeting
                    </span>
                </ng-template>
                <nz-badge nzColor="#ffd159" [nzText]="Surgery"></nz-badge>
                <ng-template #Surgery>
                    <span nz-typography class="!text-[10px]">
                        Surgery
                    </span>
                </ng-template>
            </div>
            <div class="block md:hidden">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="menu"></span>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item>
                        <nz-badge nzColor="#9bd222" [nzText]="Appointment"></nz-badge>
                        <ng-template #Appointment>
                            <span nz-typography class="!text-[10px]">
                                Appointment
                            </span>
                        </ng-template>
                      </li>
                      <li nz-menu-item> <nz-badge nzColor="#53a5ff" [nzText]="Meeting"></nz-badge>
                        <ng-template #Meeting>
                            <span nz-typography class="!text-[10px]">
                                Meeting
                            </span>
                        </ng-template></li>
                      <li nz-menu-item>
                        <nz-badge nzColor="#ffd159" [nzText]="Surgery"></nz-badge>
                        <ng-template #Surgery>
                            <span nz-typography class="!text-[10px]">
                                Surgery
                            </span>
                        </ng-template>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
            </div>
        </ng-template>
    </div>
</div>

<div nz-row [nzGutter]="20" class="my-8">
    <div nz-col class="gutter-row " [nzSpan]="24">
        <nz-card [nzTitle]="tableTitle" [nzSize]="'small'" [nzExtra]="extraTable" class="!h-full" [nzHoverable]="false">
            <nz-table
            [nzSize]="'small'"
            [nzScroll]="{ x: '1000px'}"
            #rowSelectionTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
          >
            <thead>
              <tr>
                <th
                  [nzChecked]="checked"
                  [nzIndeterminate]="indeterminate"
                  nzLabel="Select all"
                  (nzCheckedChange)="onAllChecked($event)"
                ></th>
                <th>No</th>
                <th>ID Code</th>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Created Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (data of rowSelectionTable.data; track data) {
                <tr>
                  <td
                    [nzChecked]="setOfCheckedId.has(data.id)"
                    [nzDisabled]="data.disabled"
                    [nzLabel]="data.name"
                    (nzCheckedChange)="onItemChecked(data.id, $event)"
                  ></td>
                  <td>{{ data.id  + 1}}</td>
                  <td>{{ data.id_code}}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
                  <td>{{ data.created_date }}</td>
                  <td>{{ data.time }}</td>
                  <td>{{ data.type }}</td>
                  <td>
                    <nz-alert [nzType]="data?.patient_status == 'C' ? 'success' : 'warning'" nzMessage="{{data.patient_status == 'C' ? 'Completed' : 'Pending'}}"></nz-alert> 
                  </td>
                  <td>

                    <lib-NgButton [nzType]="'text'" [shape]="'circle'" [className]="'iconBtn'"> <span
                         class="trigger !text-2xl" nz-icon [nzType]="'more'" nzTheme="outline"></span>
                          </lib-NgButton>
                  </td>

                </tr>
              }
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #tableTitle>
            <div class="flex items-center !space-x-1">
                <div class="h-8 w-8  flex items-center justify-center">
                    <img src="allPatients.png" class="h-7" alt="AllPatients" />
                </div>
                <p nz-typography class="!m-0 !text-md ">
                    All Patients
                </p>
            </div>
                
        </ng-template>
        <ng-template #extraTable>
            <div class="items-center !space-x-1  hidden md:flex">
            <lib-NgTextField
            [placeholder]="'Search anything here'"
            [isRequired]="false"
            [size]="'default'"
            [inputId]="'search'"
            [inputName]="'search'"
            [suffixIcon]="'search'"
            [type]="'text'"
        >
        </lib-NgTextField>
            <lib-NgButton [title]="'Filter'" [nzType]="'default'" [className]="'iconBtn !m-0'">
                <span class="trigger" nz-icon [nzType]="'filter'" nzTheme="outline"></span>
            </lib-NgButton>
            </div>
            <div class="block md:hidden">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="ellipsis"></span>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item >
                            <span title class="text-xs">  <span nz-icon nzType="search" nzTheme="outline"></span><span class=" font-medium"> Search Anything</span></span> 
                        </li>
                        <li nz-menu-item >
                            <span title class="text-xs">  <span nz-icon nzType="filter" nzTheme="outline"></span><span class=" font-medium">                                Filter
                            </span></span> 
                        </li>
                    </ul>
                  </nz-dropdown-menu>
            </div>
        </ng-template>
    </div>
</div>