<div class="min-h-screen min-w-screen relative   container mx-auto ">
    <!-- <div class="fixed left-0 top-0 -z-10 h-full w-full">
        <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#c8fffd,transparent)]"></div></div>

    </div> -->
    <div 
    [ngClass]="{
        'absolute  py-1':!isActivateHeaderBckColor,
        'fixed bg-white z-30 shadow-md':isActivateHeaderBckColor
    }"
    
    class="z-30  absolute border-b px-6 top-0 min-w-full flex items-center justify-between transition-all  ease-linear">
        <div class="flex items-center space-x-3">
            <img src="logo.png" class="h-12" />
            <!-- <h2 class=" m-0 text-neutral-600 text-xl font-medium text-center">
                Hi Suman Mitra,
            </h2> -->
        </div>
        <ul class="space-x-3 m-0">
            <li class="inline-block">
                <lib-NgButton [shape]="'circle'" [nzType]="'primary'" [className]="'iconBtn'"> <span nz-icon
                        nzType="bell" nzTheme="outline" style="font-size: 18px;font-weight: bold;"></span>
                </lib-NgButton>
            </li>
            <li class="inline-block">
                <lib-NgButton [shape]="'round'" [title]="'SignOut'" [nzType]="'primary'" [className]="'iconBtn'">
                    <span class="trigger" nz-icon [nzType]="'poweroff'"></span>
                </lib-NgButton>
            </li>
            <li class="inline-block">
                <lib-NgAvatar [size]="'large'" [text]="'SM'" [src]="'userAvatar.png'"
                    [background-color]="'#f56a00'"></lib-NgAvatar>
            </li>

        </ul>
    </div>

    <div class="min-h-[calc(100vh_-_27.8px)]  min-w-screen bg-white  p-10 ">
        <div class="mt-[27.8px] space-y-6"  #moduleScreen>
                    <div nz-row [nzGutter]="{ xs: 8,sm:8,md:8, Lg: 6, Xl:2,XXl:2}">
                        @for(item of module;track item.id){
                                            <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="4"  nzXXl="3" class="my-1">
                                                <ng-module-comp [item]="item"/>
                                            </div>
                        }
                    </div>
        </div>
    </div>
   
</div>